html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 16px;
      background-color: #000;
      color: #fff;
      
}

a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

a:hover {
    color:$organic;
    text-decoration: none;
}


ul {
    list-style-type: none;

}

.title {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: $yellow;
    position: relative;
    display: inline-block;
    z-index: 3;
    text-transform: uppercase;
    letter-spacing: 5px;
    min-width: 220px;
    &::before {
        content: "";
        position: absolute;
        width: 72px;
        height: 2px;
        background-color: $yellow;
        left: -81px;
        top: 50%;
        z-index: 3;
    }
}

